body {
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#featuredAnime {
display: flex;
margin: 1rem 0;
max-width: calc(100vw - 2rem);
min-height: 100px;
align-items: center;

}
#picture-wrapper{
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 320px;
  
  overflow: hidden;

}
#picture-wrapper img:hover{
  height: 400px;
  width: 400px;
  cursor: pointer;

}




.main{
width: 100%;
height: 20vh;
position: relative;
top: 0px;
overflow: hidden;
background:linear-gradient(to right, cyan, #8ecdff);
}
nav{
width: 80%;
/* position: sticky; */
margin: 10px auto;
z-index: 1;
display: flex;

}
.logo{
flex-basis: 20%;
}
.logo img{
position: absolute;
top: -40px;
left: 16px;
width: 200px;
height: 200x;

}
.nav-links{
position: absolute;
right: 0px;
top: 100px;
flex: 1;
text-align: right;
}
.nav-links ul li{
display: inline-block;
margin: 0 20px;

}
.nav-links ul li a{
color:rgb(255, 0, 0);
border: 3px white;
border-radius: 5px;

}

#button:hover {
background-color: rgb(9, 232, 248);
}
a:hover {
background-color: yellow;
}

select:hover{
background-color:rgb(9, 232, 248);
}
.web-name h2{
position: absolute;
top: -70px;
left: 450px;
font-size: 70px;
font-family: 'Rampart One',cursive;
color: blue;

}


.display-anime {
  display: inline-block;
  margin: 1rem 0;
  max-width: fit-content;
  height: 600px;
  align-items:center;
  
  
  }
 #action-type {
    width: fit-content;
    display: block;
    flex-wrap:wrap;
    align-items: flex-start;
    height: 400px;
    
    overflow: auto;
  
  }
  #action-type img:hover{
    height: 350px;
    width: 250px;
    cursor: pointer;
  }

  #comedy-type {
    width: fit-content;
    display: inline-block;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-height: 355px;
    
     overflow: hidden
  
  }
  #comedy-type img:hover{
    height: 350px;
    width: 250px;
    cursor: pointer;
  }
  #drama-type {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    
    align-items:flex-start;
    max-height: 350;
    
    overflow: hidden;
  
  }
  #drama-type img:hover{
    height: 350px;
    width: 250px;
    cursor: pointer;
  }
  
  .arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
    
   
  }
  .arrow:hover{
    opacity: .5;
    width: 40px;
    height: 40px;
    
  }
  .like-bttn {
    color: red;
    font-size: larger;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
   
    left: 40px
  }
  
  .like-bttn:hover {
    color: rgb(241, 236, 236);
    background-color: red;
  }
  /* CSS ADDED BY ROGER */
  #searched-anime {
    width: 40%;
    float: left;
    padding: 45px;
    text-align: right;
    height: 35%;
    overflow: scroll;
  }

  img.searched-image {
    float: left;
  }
  
  p#search-description {
    text-align: left;
    float: left;
    
  }
  
  .decorate-container {
    width: 40%;
    height: 35%;
    overflow: scroll;
    /* float: left; */
    padding: 45px;
    border: 2px solid rgb(255, 0, 204);
    color: ghostwhite;
    border-radius: 25px;
    background: #fc9f4dee;
    box-shadow: 10px 10px 5px grey;
  }

.hidden {
    display: none;
  } 

div.genre-div {
  text-align: left;
  width: fit-content;
}

